# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
ENV/
env/

# SQLite databases
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log
